.login {
    background: #60495A;
    min-height: 100vh;
    color: #BFC3BA;
}

.login button {
    background: #2F2235;
    color: #BFC3BA
}

.sign-up {
    background: #60495A;
    color: #BFC3BA
}

.modal-body button {
    background: #2F2235;
    color: #BFC3BA
}